#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body-wrapper {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

header {
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px;
  justify-content: left;
  align-items: center;
}
header > div {
  margin-right: 10px;
}
header h1 {
  font-size: inherit;
}

.logo {
  height: 40px;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 10px black);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

aside {
  background-color: var(--secondary-background-color);
  width: 300px;
}

.panel {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  font-size: 12px;
}
.panel dl {
  margin: 0;
}
.panel dt,
.panel dd {
  display: inline;
}
.panel dd {
  margin: 0;
}

.panel h2 {
  font-size: inherit;
  margin: 0;
}

.panel ul {
  color: #ff725c;
  margin: 0;
  padding-inline-start: 1.5em;
  list-style: none;
}

main {
  padding: 10px;
}
